/*VARIABLES*/

:root {
    --ColorMain: rgba(0, 255, 0, 0.822);
    --fontMatrix: font-family: "Matrix Code NFI", monospace;
    --filterPhoto: hue-rotate(90deg);
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontMatrix);
}

/*EFECTO Glassmorphism*/
.glass {
    background-color: rgba(255, 255, 255, 0.13); /* ajusta la opacidad y el color de fondo */
    backdrop-filter: blur(10px); /* ajusta la intensidad del desenfoque */
    border-radius: 10px; /* ajusta el radio de las esquinas */
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0); /* ajusta la sombra */
    backdrop-filter: blur(10px);
}

body {
    background-size: cover;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container_bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/**/
.container_main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tarjet {
    width: 90%;
    max-width: 1200px;
    height: 80%;
    max-height: 620px;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container_tittle {
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
}

.container_tittle h1 {
    background-color: rgba(0, 100, 0, 0.5);
    color: var(--ColorMain);
    white-space: nowrap;
    border-right: 4px solid;
    width: 17ch; /*Numero de caracteres del texto original*/
    max-height: 35px;
    animation: typing 3s steps(17), blink .5s infinite step-end alternate; /*Animacion de Machine Write*/
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
}

/*Animacion para efecto Maquina de escribir*/
@keyframes typing {
    from { width: 0 }
}

@keyframes blink {
    50% { border-color: transparent }
}

.container_imgLogo {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_imgLogo img {
    /*filter: var(--filterPhoto);*/
    max-width: 100%;
    height: auto;
    object-fit: contain;
    filter: hue-rotate(300deg);
}

#description {
    width: 65%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#description div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

#description div .body_description {
    height: 80%;
    display: flex;
    flex-direction: row;
}

#aboutMe {
    width: 100%;
    height: 40%;
}

#aboutMe p {
    color: var(--ColorMain);
    width: 60%;
    height: 100%;
    padding: 0px 8px;
}

#tarjetMe {
    min-width: 0; /*Tamaño minimo*/
    width: 40%; /*Tamaño general responsive*/
    min-width: 170px; /*Tamaño Maxino*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden /* Para ocultar el desbordamiento de la imagen */
}

#ContainerImg_tarjetMe {
    width: 100%;
    height: 75%;
    padding: 5px;
    border: 1px solid var(--ColorMain);
    margin-top: 5px;
}

#ContainerImg_tarjetMe img {
    background-image: url(Img/TheMatrix1.gif);/*Fondo*/
    background-size: contain; /*La imagen se ajusta al contendor*/
    background-repeat: no-repeat;/*No se repite para rrellenar espacio*/
    width: 100%;
    height: 100%;
    object-fit: contain; /* Para que la imagen se ajuste proporcionalmente al contenedor */
    filter: hue-rotate(90deg)
}

#tarjetMe #Container_btn-social {
    background-color: rgba(0, 100, 0, 0.5);
    width: 100%;
    height: 25%;
    border: 1px solid var(--ColorMain);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 

#Container_btn-social i {
    color: var(--ColorMain);
    font-size: x-large;
} 

#proyects {
    width: 100%;
    height: 30%;
}

#proyects .body_description {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
}

#container_opcionsProyets {
    width: 30%;
    height: 100%;
}

.tabs li a .active{
	background-color: aqua;
}

.tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    overflow-y: scroll;
    white-space: nowrap;
}

/* Estilo para la barra de desplazamiento */
.tabs::-webkit-scrollbar {
    width: 0px;
}

.tabs li {
    color: var(--ColorMain);
    width: 100%;
    height: 50px;
    margin: 1px 0;
    padding-left: .4rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tabs li:hover {
    background-color: var(--ColorMain);
    color: rgb(0, 55, 0);
    cursor: pointer;
    transition: .3s;
}

.tabs li a {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tabs li a p {
    color: var(--ColorMain);
    height: 100%;
    margin-bottom: 0;
    font-size: 0.9em;
}
.tabs li a p span{
    color: rgba(0, 55, 0, 0);
    font-size: 0.9em;
}

.tabs li:hover p {
    color: rgb(0, 55, 0);
    font-size: 1em;
}
.tabs li:hover p span{
    color: rgb(0, 55, 0);
    margin-right: .5rem;
    font-size: 1.2em;
}

.tabs li i {
    color: var(--ColorMain);
    padding-right: .5rem;
    font-size: 1.2em;
}


.tabs li:hover i {
    color: rgb(0, 55, 0);
}

.secciones {
    width: 70%;
    height: 100%;
}

.secciones article {
    width: 100%;
    height: 100%;
}

article:not(#tab1) {
    display: none;
}

#proyects .body_description section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: hue-rotate(90deg)
}

#desicion {
    width: 100%;
    height: 30%;
}

.tittle_description {
    margin-bottom: 10px;
}

.body_description p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--ColorMain);
    margin-bottom: 20px;
}

h2 {
    color: var(--ColorMain);
    text-align: center;
    width: 100%;
    height: 35px;
    border: 2px solid var(--ColorMain);
}